node_modules
**/node_modules
.next
**/.next
dist
**/dist
build
**/build
coverage
**/coverage
logs
**/logs
*.lock
yarn.lock
package-lock.json
pnpm-lock.yaml
fe/messages/*.json
be/prisma/generated
be/prisma/migrations
.env
.env.local
.env.*.local
